<div
  class="flex h-screen flex-col items-center justify-center py-12 bg-gray-900 lg:px-8"
>
  <div class="border-gray-400 border px-4 py-8 shadow sm:rounded-lg sm:px-10">
    <img
      class="mx-auto h-20 w-auto"
      src="../../../assets/logo.png"
      alt="Workflow"
    />
    <div
      class="w-full flex-col items-center justify-center text-center sm:mx-auto sm:max-w-md"
    >
      <h1 class="text-2xl mb-2 font-medium text-gray-200">
        Landing Page Designer
      </h1>
      <p class="mb-6 max-w-xs text-sm text-gray-400">
        Login with your Google account
      </p>

      <button
        class="p-4 bg-gray-200 text-gray-900 rounded-xl w-72 hover:bg-gray-300"
        (click)="onLoginClick()"
      >
        Login
      </button>
    </div>
  </div>
</div>
